* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
}

a, a:hover {
	text-decoration: none;
}

/********************
 *Lucid css start* 
 ********************/

/*glbal title code start*/

.title {
	width: 100%;
	padding: 0px 0px 40px;
	text-align: center;
}

.title h4 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #008ed6;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.title h2 {
	font-size: 48px;
	font-weight: 600;
	color: #1a1a1a;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/*Header-section start*/

.header-section {
	width: 100%;
	background-image: url("../images/home.png");
	background-size: 100%;
}

.menu {
	width: 100%;
}

.menu .navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	margin: 0px 0px 0px 10px;
}

.menu .navbar-light .navbar-nav .nav-link:hover {
	background: url("../images/bor.png") center bottom no-repeat;
	background-size: auto;
}

.menu .navbar-light .navbar-nav .nav-link.active {
	background: url("../images/bor.png") center bottom no-repeat;
	background-size: auto;
}

/*banner start*/

.banner {
	width: 100%;
	padding: 70px 0px 80px;
}

.banner h4 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #008ed6;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.banner h2 {
	font-size: 48px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.banner p {
	font-size: 18px;
	line-height: 1.4;
	font-weight: 400;
	color: #999999;
}

.inner-btn {
	width: 100%;
	padding: 40px 0px 0px;
}

.inner-btn .btn-primary {
	padding: 12px 22px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	color: #fff;
	background: #008ed6;
	border-color: #008ed6;
	border-radius: 5px;
	margin-right: 15px;
}

.inner-btn .btn-primary:hover, .inner-btn .btn-primary:focus {
	color: #008ed6;
	background: transparent;
	border-color: #008ed6;
}

.inner-btn .btn-info {
	padding: 12px 22px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	color: #fff;
	background: transparent;
	border-color: #999999;
	border-radius: 5px;
}

.inner-btn .btn-info:hover, .inner-btn .btn-info:focus {
	color: #fff;
	background: #008ed6;
	border-color: #008ed6;
}

/*Features-section code start*/

.features-section {
	width: 100%;
	padding: 70px 0px;
}

.inner-feature {
	width: 100%;
	padding: 30px 20px;
	text-align: center;
}

.inner-feature .icon {
	width: 110px;
	height: 110px;
	line-height: 110px;
	margin: 0px auto;
	border-radius: 50%;
	border: 1px solid #e0e0e0;
	margin-bottom: 20px;
}

.inner-feature h4 {
	font-size: 24px;
	font-weight: 500;
	color: #1a1a1a;
}

.inner-feature p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	color: #999;
}

/*.aboutlong-section start*/

.aboutlong-section {
	width: 100%;
	padding: 70px 0px;
	border-top: 1px solid #eee;
}

.aboutlong-section .title {
	text-align: left !important;
	margin: 60px 0px 0px !important;
}

.aboutlong-section .title h2 {
	font-size: 42px !important;
}

.aboutlong-section p {
	font-size: 19px;
	color: #1a1a1a;
	line-height: 1.4;
}

.icon-list {
	width: 100%;
	padding: 0px;
	display: block;
	margin: 35px 0px 0px;
}

.icon-list li {
	list-style: none;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	margin: 0px 0px 5px;
}

.icon-list li .fa {
	width: 25px;
	color: #008ed6;
	margin-right: 5px;
}

/*aboutshort-section start*/

.aboutshort-section {
	width: 100%;
	padding: 50px 0px;
	background: #f2f2f2;
}

.aboutshort-section .title {
	text-align: left !important;
	margin: 80px 0px 0px;
}

.aboutshort-section .title h2 {
	font-size: 35px;
}

.aboutshort-section .title p {
	font-size: 20px;
	color: #1a1a1a;
	line-height: 1.4;
}

.testimonial-section {
	width: 100%;
	padding: 70px 0px;
	background: url(../images/testimonials.png) center top no-repeat;
	background-size: cover;
}

.testimonial-section .title h2 {
	color: #fff;
}

.testimonial-section .owl-theme .item {
	margin-bottom: 60px;
}

.testimonial-section .owl-theme .item h4 {
	font-size: 20px;
	color: #fff;
	line-height: 1.4;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 50px;
}

.testimonial-section .owl-theme .item .round img {
	width: 75px;
	height: 75px;
	border-radius: 100%;
}

.testimonial-section .owl-theme .item .round h5 {
	font-size: 22px;
	color: #fff;
	font-weight: 400;
	margin: 0px 0px 2px;
}

.testimonial-section .owl-theme .item .round p {
	font-size: 16px;
	color: #fff;
	font-weight: 600;
}

.sec-section {
	width: 100%;
	padding: 20px 0px 40px;
	background: #191919;
}

.sec-section h2 {
	font-size: 32px;
	font-weight: 300;
	margin-top: 45px;
	color: #ffffff;
}

.sec-section span {
	font-weight: 600;
}

.sec-section .btn-primary {
	padding: 12px 22px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	color: #fff;
	background: #008ed6;
	border-color: #008ed6;
	border-radius: 5px;
	margin-right: 15px;
}

.sec-section .btn-primary:hover, .sec-section .btn-primary:focus {
	color: #008ed6;
	background: transparent;
	border-color: #008ed6;
}

.sec-section .btn-info {
	padding: 12px 22px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	color: #fff;
	background: transparent;
	border-color: #999999;
	border-radius: 5px;
}

.sec-section .btn-info:hover, .sec-section .btn-info:focus {
	color: #fff;
	background: #008ed6;
	border-color: #008ed6;
}

/*pricing-section start*/

.pricing-section {
	width: 100%;
	padding: 60px 0px;
}

.price-box {
	width: 100%;
	border: 1px solid #eee;
	border-radius: 5px;
	text-align: center;
}

.price-head {
	width: 100%;
	padding: 15px 0px;
	border-bottom: 1px solid #eee;
}

.price-head h2 {
	font-size: 32px;
	font-weight: 600;
	color: #121212;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.price-box .price-inner {
	width: 100%;
	padding: 30px 0px;
	border-bottom: 1px solid #eee;
}

.price-box .price-inner h1 {
	font-size: 55px;
	font-weight: 600;
	color: #121212;
	margin-bottom: 0px;
}

.price-box .price-inner h1 sup {
	font-size: 30px;
	font-weight: 400;
}

.price-box .price-inner p {
	font-size: 14px;
	color: #999;
	margin: -6px 0px 0px;
}

.price-box .price-content {
	width: 100%;
	padding: 35px 10px;
}

.price-box .price-content p {
	color: #999;
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 30px;
}

.price-box .price-content p a {
	color: #008ED6;
	font-weight: 700;
}

.price-box .price-content .btn-info {
	padding: 13px 34px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #008ED6;
	background: transparent;
	border-color: #999999;
	border-radius: 5px;
}

.price-box:hover .price-head h2 {
	color: #008ED6;
}

.price-box:hover .price-inner, .price-box:hover .price-inner h1, .price-box:hover .price-inner p {
	background: #008ED6;
	color: #fff;
}

.price-box .price-content .btn-info:hover, .price-box .price-content .btn-info:focus {
	color: #fff;
	background: #008ed6;
	border-color: #008ed6;
}

.contact-us {
	width: 100%;
	padding: 60px 0px 0px;
	background: #ededed;
}

.contact-us .info {
	width: 100%;
	text-align: center;
}

.contact-us .info .fa {
	font-size: 32px;
	color: #008ed6;
	margin-bottom: 20px;
}

.contact-us .info p {
	font-size: 16px;
	font-weight: 300;
	color: #999999;
	line-height: 1.4;
}

.main-from {
	width: 100%;
	padding: 50px 60px 40px;
	margin-top: 40px;
	margin-bottom: -70px;
	background: #191919;
	position: relative;
	z-index: 1;
}

.main-from .form-control {
	width: 100%;
	padding: 10px;
	color: #999;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	background-color: transparent;
	background-clip: padding-box;
	border: 1px solid #9999;
}

.main-from .text-right {
	text-align: right;
}

.main-from .btn-primary {
	padding: 12px 22px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	background: #008ed6;
	border-color: #008ed6;
	border-radius: 5px;
	margin-right: 15px;
}

.main-from .btn-primary:hover, .main-from .btn-primary:focus {
	color: #008ed6;
	background: transparent;
	border-color: #008ed6;
	outline: none;
}

.footer-section {
	width: 100%;
	padding: 50px 0px 30px;
	background: #15141a;
	text-align: center;
}

.footer-section .social-icon li {
	display: inline-block;
	list-style: none;
	margin-bottom: 10px;
}

.footer-section .social-icon a {
	font-size: 20px;
	color: #999999;
	margin: 0px 34px 0px 0px;
}

.footer-section .social-icon dl, ol, ul {
	margin: 0px;
}

.footer-section p {
	font-size: 14px;
	font-weight: 400;
	color: #999999;
	text-align: center;
	text-transform: uppercase;
}

.footer-section .social-icon a:hover {
	color: #008ed6;
}